Semgrep supports 20+ languages.

<div id="language-support-table">


| GA ✅      | Beta 🐛                     | Experimental 🚧            |
|:---------- |:---------------------------|:---------------------------|
{{ supported_langs }}

</div>

<!--  For readability, please keep each column in alphabetical order. -->
<!-- coupling: Should match what is in semgrep-core/tests/Test.ml Maturity level testing. -->
<!-- imports: This file is currently imported to: index.md, supported-languages.md -->