:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

li.Hit-Hierarchy {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
}

ul {
  color: var(--docsearch-text-color);
}

li[aria-selected="true"] ul {
  color: white;
}


li.Hit-Hierarchy:not(:last-child):after {
    content:'>';
    margin: 0px 4px;
}
