@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
h1,
h2,
h3,
h4,
p,
div {
  font-family: Inter, Barlow, "Source Sans Pro", "Work Sans", sans-serif !important;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h4.code-example-heading {
  margin-bottom: 5px;
}

code {
  border: none;
}

a,
a:visited {
  color: #2980b9;
}

a:hover {
  text-decoration: underline;
}

/* div.toc li:first-child {
  display: none;
} */

.wy-side-nav-search {
  background-color: #137cbd;
  /* margin-top: 50px; */
}

nav.stickynav {
  top: 50px;
}

.rst-versions {
  display: none;
}

div.navbar {
  width: 100%;
  height: 50px;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.bp3-navbar {
  background-color: #ffffff;
  z-index: 100;
  height: 50px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-navbar.bp3-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.bp3-navbar-group {
  align-items: center;
  display: flex;
  height: 50px;
}

.bp3-navbar-group.bp3-align-left {
  float: left;
}

.normal .bp3-navbar-group.bp3-align-left {
  z-index: 5000;
  position: fixed;
  background: #fff;
  left: 0;
  padding: 0 10px;
}

.bp3-navbar-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 8px;
}

.bp3-navbar-group {
  align-items: center;
  display: flex;
  height: 50px;
}

.bp3-navbar-group.bp3-align-right {
  right: 10px;
  min-width: 100px;
  position: fixed;
  justify-content: flex-end;
}

.bp3-navbar-group.bp3-align-right {
  float: right;
}

.bp3-button-text > svg {
  height: 1em;
}

.bp3-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  min-height: 30px;
  min-width: 30px;
}

.bp3-button.bp3-minimal {
  color: #18202d;
}

.wy-grid-for-nav {
  position: absolute;
  top: 50px;
}

@media screen and (max-width: 768px) {
  .wy-grid-for-nav {
    /* width: auto; */
  }
}

.wy-nav-side a {
  color: #d9d9d9;
}

.wy-nav-side {
  position: fixed;
  top: 50px;
}

.search-box-title {
  margin-bottom: 10px;
}

table {
  margin: 20px 0;
}

th,
td {
  padding: 10px;
}

.wy-nav-content {
  max-width: 1010px;
}

div > div.section > p > img {
  border: 1px solid #eee;
}

.pdf-link {
  margin: 40px 0;
}

.pdf-button {
  background-color: #e05d5b;
  color: white;
  padding: 10px;
  border: 1px solid #e05d5b;
  border-radius: 4px;
  max-width: 300px;
}

.semgrep-footer {
  margin-top: 40px;
}

.footer-grid {
  display: grid;
  gap: 12px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  /* margin: auto; */
}

section.links {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.social {
  margin-right: 12px;
}

.social a {
  margin-top: 28px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.semgrep-footer svg {
  width: 32px;
  margin-right: 10px;
}

.link-grid {
  display: grid;
  gap: 70px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 28px;
}

.rtd-info {
  margin-top: 60px;
}

/* Cheat Sheet styling begins here */
.cs-bg-theme-orange {
  background-color: #e05d5b;
  color: #ffffff;
}
/* .cs-bg-theme-dark-blue {
  background-color: #243d4e;
  color: #ffffff;
} */

.wy-nav-content.cs {
  max-width: 1200px;
}

div[role="navigation"] hr {
  display: none;
}

/* new CS styling begins here */

div.cs > header {
  margin-top: 60px;
  padding-bottom: 100px;
}

div.cs .title h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #29343d;
}

div.cs p {
  font-size: 1rem;
  color: #777777;
}

div.cs h3 {
  font-size: 1.25rem;
  color: #29343d;
}

div.cs h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

div.cs ol.exploit-conditions {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

div.cs ol.exploit-conditions li {
  margin: 4px 0;
}

div.cs .ruleset-cli-command {
  margin-bottom: 2rem;
}

div.cs .ruleset-cli-command h3 {
  margin-bottom: 0.75rem;
}

div.cs .ruleset-cli-command code {
  background-color: #1b242c;
  color: #f6f8fa;
  padding: 0.5rem 1rem;
  border: 1px solid #1b242c;
  border-radius: 3px;
}

div.cs .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cs #cheatsheet .cs-condition {
  padding-top: 1rem;
  border-top: 1px solid #29343d;
  margin-bottom: 4rem;
}

div.cs #cheatsheet .cs-condition h3 code,
div.cs li.cs-references code,
div.cs #cheatsheet .cs-condition-detail code,
div.cs .cs-mitigations code {
  background-color: inherit;
  font-size: 1em;
  padding: 0;
}

div.cs #cheatsheet .cs-condition-detail {
  margin-bottom: 4rem;
}

div.cs .flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  div.cs .flex {
    flex-direction: column;
  }
}

div.cs .w-50 {
  width: 50%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  div.cs .w-50 {
    width: 100%;
    padding: 1rem;
  }
}

div.cs p span.cs-recommendation {
  color: #29343d;
}

div.cs .cs-code-example code {
  background-color: #ecf1f6;
  border: 1px solid #ecf1f6;
  border-radius: 3px;
  font-size: 1em;
}

div.cs ul.cs-references {
  margin-left: 1.2rem;
}

div.cs li.cs-references {
  list-style: disc;
}

/* Cheat Sheet styling ends here */

/* Metrics styling begins here */

.page-title h1 {
  margin: 40px 0 20px;
}

.page-description {
  margin: 20px 0;
}

.stats-graph-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(15vw, auto);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.lang-container iframe,
.languages-table iframe {
  border: 2px solid #eee;
}

/* Metrics styling ends here */

.lang-container {
  margin-top: 50px;
}

/* mobile nav styling */
@media screen and (min-width: 768px) {
  .wy-side-scroll {
    width: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .wy-side-nav-search {
    width: 250px;
  }

  .wy-nav-side {
    width: 250px;
  }

  .wy-nav-content-wrap {
    margin-left: 250px;
  }
}

@media screen and (max-width: 768px) {
  nav.wy-nav-top {
    position: fixed;
    top: 50px;
    z-index: 1000;
  }

  nav.wy-nav-top a {
    display: none;
  }

  .normal .bp3-navbar-group.bp3-align-left,
  .bp3-navbar {
    z-index: 50;
  }

  div.rst-content {
    margin-top: 50px;
  }
}
