name: Check Markdown links

on:
  schedule:
    - cron: "31 23 * * 3"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.13
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          base-branch: "main"
          check-modified-files-only: "no"
          config-file: ".mlc_config.json"
